header {
    position: relative;
    padding: 0;
}

nav {
    width: 100%;
    display: flex;
    position: fixed;
    margin: 0 auto;
    padding: 10px;
    align-items: center;
    background-color: wheat;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
    padding: 2px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 24px;
}

nav ul li a:hover {
    color: orangered;
    text-decoration: underline;
    font-size: 26px;
}

nav .nav-align-right {
    margin-left: auto;
    margin-right: 5px;
}

nav button {
    padding: 9px;
    margin-right: 10px;
    background-color: orangered;
    color: black;
    font-weight: bold;
    border-color: black;
    border-radius: 16px;
    font-size: 18px;
}

nav button:hover {
    background-color: orange;
    scale: 1.1;
}

nav button:active {
    scale: 1;
}